<div *ngIf="!search_in_progress && slots?.size===0" class="fr-callout-bondeau" style="text-align: center" >
    <p>Aucun rendez-vous n’est disponible en ligne actuellement. Nous vous invitons à modifier vos dates de recherche et à renouveler votre demande. Vous pouvez aussi contacter directement la mairie de votre choix pour connaître les autres modalités de prise de rendez-vous.</p>
</div>
<div *ngIf="slots?.size!==0" class="fr-callout-bondeau" style="text-align: center" >
    <p>Réservez en ligne pour programmer votre rendez-vous : {{slots?.size}} créneaux sont disponibles</p>
</div>
<div class="fr-tabs" *ngIf="slots?.size!==0">
    <ul class="fr-tabs__list fr-grid-row--center fr-grid-row--middle" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
        <li class="fr-square-li" role="navigation">
            <button id="tabpanel-404" class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-left-line" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel"
            (click)="previous()" [disabled]="start-step < 0">
                Label bouton
            </button>
        </li>
        <li *ngFor="let day of keys(slots); let index = index;" role="presentation">
            <button class="fr-tabs__tab fr-tab" [attr.id]="'tabpanel'  +index"  [attr.aria-controls]="'tab' +index" [attr.tabindex]="index === 0 ? 0: 1" [attr.aria-selected]="index === 0 ? true: false" role="tab" (click)="select(+ start +index)">
                {{  day | date: 'ccc d MMM ' }}
            </button>
        </li>
        <li class="fr-square-li" role="navigation">
            <button id="tabpanel-404" class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-right-line" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel"
            (click)="next()" [disabled]="slots && (end + step > getLastElementIndex())">
                Label bouton
            </button>
        </li>
    </ul>
    <div class="fr-tabs__panel fr-tabs__panel--selected" 
    *ngFor="let day of keys(slots); let index = index;"
    [attr.id]="'tab'  +index" [attr.aria-labelledby]="'tabpanel'  +index"
	[attr.tabindex]="index === 0 ? 0: 1"
	[attr.area-selected]="index === 0 ? true: false"
	 role="tabpanel">
        <!-- données de test -->
        <!-- {{start}} {{end}} {{step}} {{slots?.size}} -->
       <rdv-appointment-list [index]="step" [day]="day" [slotsByDay]="slots?.get(day)"></rdv-appointment-list>
    </div>
</div>

<!-- lastElements && (slots.size - end  > step) -->