.center-align {
  display: flex;
  justify-content: center;

  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.date {
  width: 200px;
}

.justify-center {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;

  text-align: justify;
}

.localize {
  margin-right: 5px;

  color: white;
}

.password {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 0;
  height: 0;

  opacity: 0;
}
