<main role="main" id="contenu">
    <br>
    <form [formGroup]="nameForm" #form="ngForm">
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
          <div class="fr-col fr-col-lg-10" >
            <div class="center">
               <h6>Recherchez un rendez-vous pour la délivrance d'un passeport ou d'une carte d'identité</h6>
            </div>
          </div>
      </div>
      <div class="fr-grid-row fr-grid-row--center">
          <div class="fr-col fr-col-lg-8" >
            <div class="center">
              <p>
                Vous cherchez un rendez-vous pour déposer une demande de passeport et/ou carte d’identité ? 
                <br>Renseignez votre localisation et vos disponibilités puis choisissez le créneau qui vous convient.             
                <br>Pour simplifier votre démarche d’obtention de carte d’identité et/ou de passeport, vous pouvez faire une pré-demande en ligne sur notre site :     
                <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://passeport.ants.gouv.fr/demarches-en-ligne">https://passeport.ants.gouv.fr/demarches-en-ligne</a>
              </p>
            </div>
          </div>
      </div>
      <div class="center">
          <div class="fr-input-group" [ngStyle]="{'width': '200px'}" >
            <label class="fr-label" for="start-date">Début de recherche</label>
            <input class="fr-input" type="date" id="start-date" name="start-date" formControlName="start_date">			  
          </div>
          &nbsp;
          &nbsp;
          <div class="fr-input-group" [ngStyle]="{'width': '200px'}" >
            <label class="fr-label" for="end-date">Fin de recherche</label>
            <input class="fr-input" type="date" id="end-date" name="end-date" formControlName="end_date">
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp; 
          <fieldset class="fr-fieldset fr-fieldset--inline">
              <legend class="fr-fieldset__legend fr-text--regular" id='radio-inline-legend'>
                Distance maximale de recherche
              </legend>      
              <div class="fr-fieldset__content">
                  <div class="fr-radio-group">
                      <input type="radio" id="radio-inline-1" name="radius_km" value="20" formControlName="radius_km">
                      <label class="fr-label" for="radio-inline-1">20 km</label>
                  </div>
                  <div class="fr-radio-group">
                      <input type="radio" id="radio-inline-3" name="radius_km" value="40" formControlName="radius_km">
                      <label class="fr-label" for="radio-inline-3">40 km</label>
                  </div>
                  <div class="fr-radio-group">
                      <input type="radio" id="radio-inline-4" name="radius_km" value="60" formControlName="radius_km">
                      <label class="fr-label" for="radio-inline-4">60 km</label>
                  </div>
              </div>
          </fieldset>
      </div>
      <div class="center">
          <button class="fr-btn" id="localisemoi" (click)="getUserLocation()" >
              <label class="fr-label" class="localize" for="localisemoi">Localisez-moi</label>
              <span class="fr-icon-map-pin-user-line" aria-hidden="true"></span>
          </button>
          <div class="fr-search-bar fr-search-bar--lg" id="search-2" role="search" [ngStyle]="{'width': '650px'}" >
              <input class="fr-input" placeholder="code postal ou commune" type="search" id="location" name="location" required>
              <button class="fr-btn" type="button" (click)="send(form)">Rechercher</button>
          </div>
      </div>
      <div class="center">
        <p *ngIf="(empty_location&&search_clicked)" id="text-input-error-desc-error" class="fr-error-text">
          Veuillez renseigner votre code postal ou bein votre commun 
        </p>
      </div>
      <label class="password" for="name"></label>
      <input class="password" autocomplete="off" type="text" id="name" name="name" placeholder="Your name here">
      <label class="password" for="email"></label>
      <input class="password" autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here">
    </form>
    <div id="progress-bar-container">
      <ng-progress  #progressBar color="#000091" [meteor]="false" [thick]="true" [spinner]="false" [fixed]="true"></ng-progress>
    </div>
        <br/>
        <div id="target">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
          <div class="fr-col fr-col-lg-10" *ngIf="showresults">
            <div *ngIf="desktop; else mobile">
              <rdv-desktop-slots [slots]="slots" [search_in_progress]="search_in_progress"></rdv-desktop-slots>
            </div>
            <ng-template #mobile>
                <rdv-mobile-slots [slots]="slots" [search_in_progress]="search_in_progress"></rdv-mobile-slots>
              </ng-template>
              <br/>
        </div>
      </div>
      </div>
    </main>