<!-- fr-table -->
<div class="fr-container--fluid">
  <div class="fr-grid-row">
    <div class="fr-col">
    <div class="fr-table fr-table--layout-fixed fr-table-border-spacing" *ngIf="slotsByDay">
      <table>
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center;">LIEU</th>
            <th style="text-align:center;">DISTANCE</th>
            <th style="text-align:center;">HEURE</th>
            <th></th>
          </tr>
        </thead>

        <colgroup>
          <col style="position:relative;width: 5%;">
          <col style="position:relative;width: 25%;">
          <col style="position:relative;width: 10%;">
          <col style="position:relative;width: 10%;">
          <col style="position:relative;width: 10%;">
       </colgroup>
       
        <tbody>
          <tr  *ngFor="let slot of slotsByDay; let index = index;">
            <td><img class="logo-municipality" [attr.src]="slot.logo" alt="" srcset=""></td>
            <td style="text-align:center;">{{slot?.municipality}}</td>
            <td style="text-align:center;">{{slot?.distance?.toLocaleString()?.replace('.', ',') + ' km'}} </td>
            <td style="text-align:center;">{{__getLocaleTimeFormat__(slot?.hour)}} </td>
            <td><a class="fr-btn float-right" [href]="slot?.url" target="_blank">Réserver</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  </div>
</div>
