<div *ngIf="!search_in_progress && slots?.size===0" class="fr-callout-bondeau" style="text-align: center" >
    <p>Aucun rendez-vous n’est disponible en ligne actuellement. Nous vous invitons à modifier vos dates de recherche et à renouveler votre demande. Vous pouvez aussi contacter directement la mairie de votre choix pour connaître les autres modalités de prise de rendez-vous.</p>
</div>
<div class="fr-accordions-group">
    <section class="fr-accordion" *ngFor="let listPerDay of keys(slots); let index = index;" >
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn fr-accordion-custom" aria-expanded="false" [attr.aria-controls]="'accordion-' + index">{{ listPerDay | date: 'dd/MM/yyyy' }}</button>
        </h3>
        <div class="fr-collapse" [attr.id]="'accordion-' + index">
            <!-- <rdv-appointment-list [slotsByDay]="slots?.get(listPerDay)"></rdv-appointment-list> -->
            <div class="fr-grid-row fr-grid-row--center" *ngIf="slots?.get(listPerDay)">
                <div class="fr-col-sm-4" *ngFor="let slot of slots?.get(listPerDay); let index = index;">
                    <button class="fr-btn btn-margin" >
                        Reserver à {{slot?.hour}} à {{slot?.municipality}}
                    </button>
                </div>
                <div class="fr-col-sm-4" *ngFor="let slot of slots?.get(listPerDay); let index = index;">
                    <button class="fr-btn btn-margin" >
                        Reserver à {{slot?.hour}} à {{slot?.municipality}}
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
