<div class="fr-skiplinks">
  <nav class="fr-container" role="navigation" aria-label="Accès rapide">
      <ul class="fr-skiplinks__list">
          <li>
              <a class="fr-nav__link" href="#contenu">Contenu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#header-navigation">Menu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#header-search">Recherche</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#footer">Pied de page</a>
          </li>
      </ul>
  </nav>
</div>
<header role="banner" class="fr-header">
<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>Française
            </p>
          </div>
          <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu" aria-haspopup="menu" title="Menu">
              Menu
            </button>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/" title="Accueil - {{ appName }}" style="  color: black;text-decoration: none;">
            <p class="fr-header__service-title"> {{ appName }}</p>
          </a>
          <a href="/">
            <p class="fr-header__service-tagline">{{ appDescription }}</p>
          </a>
        </div>
      </div>
      <div class="fr-header__tools">
        <div class="fr-header__tools-links">
          <ul class="fr-links-group">
            <li>
              <a class="fr-link fr-fi-arrow-right-line fr-link--icon-left" [href]="getCurrentPath().path" title="Pré-demande" >{{getCurrentPath().name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TODO : fix arria-labellby -->
<div class="fr-header__menu fr-modal" id="modal-menu" aria-labelledby="button-825">
  <div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
    <div class="fr-header__menu-links">
    </div>
  </div>
</div>
</header>
