/* You can add global styles to this file, and also import other style files */
@import '@gouvfr/dsfr/dist/utility/utility.min.css';

.fr-table-border-spacing {
  border-spacing: 0rem 1rem !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fr-tab {
  min-height: 5.5rem;
  //padding: 1rem 0.25rem;
}

.fr-callout-bondeau {
  --title-spacing: 0 0 0.5rem;
  --text-spacing: 0;
  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  position: relative;

  margin: 0 0 1.5rem;
  padding: 1.5rem;

  background-color: var(--background-contrast-grey);
}

.fr-square-li {
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.fr-btn-rounded {
  border-radius: 50%;
}

.fr-accordion-custom {
  padding: 0.75rem 0.5rem !important;

  box-shadow: inset 3px 0 0 0 var(--border-action-high-blue-france);
}

.btn-margin {
  margin: 1px;
}

.fr-icon-custom {
  margin-right: 4px;
}

.ng-progress-bar {
  position: relative;
  top: 0 !important;
}
.ng-bar {
  position: relative;

  height: 122px;
}

.ng-spinner {
  position: relative;

  display: none;
}
