<div id="progress-bar-container">
  <ng-progress  #progressBar color="#000091" [meteor]="false" [thick]="true" [spinner]="false" [fixed]="true"></ng-progress>
</div>
<br>
<div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
    <div class="fr-col fr-col-lg-10" >
      <div class="center">
        <h6>
          Renseignez vos numéros  de pré-demandes
        </h6>
      </div>
      <div class="center">
        <p>
           (Composés de 10 caractères alphanumériques et séparés par un caractère spécial)
        </p>
      </div>
    </div>
</div>
<form [formGroup]="form">
    <div class="center">
      <div  [ngStyle]="{'width': '650px'}" >
            <input class="fr-input" placeholder="Ex : A123155111(;,./- )B123155222;.." 
             formControlName="predemandes" id="predemandes" name="predemandes">
            <p *ngIf="ValidateError" id="text-input-error-desc-error" class="fr-error-text">
              Numéros de pré-demande non valides
            </p>
      </div>
      <div>
        <button class="fr-btn" (click)="clickSearch()" >
            <span class="fr-icon-search-line" aria-hidden="true"></span>Rechercher
        </button>
      </div>
    </div>
</form>
<div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters" *ngIf="predemande_results.length">
    <div class="fr-col fr-col-lg-10">
      <div class="fr-table fr-table--layout-fixed fr-table-border-spacing">
        <table>
          <thead>
            <tr>
              <th class="text-align">NUMÉRO DE PRÉ-DEMANDE</th>
              <th class="text-align">LIEU</th>
              <th class="text-align">DATE</th>
              <th></th>
            </tr>
          </thead>
          <colgroup>
            <col class="id">
            <col class="meeting-point">
            <col class="date-point">
            <col class="date-point">
          </colgroup>
          <tbody>
            <tr  *ngFor="let predemande of predemande_results;">
                <td class="text-align">{{predemande.id}}</td>
                <td class="text-align">{{predemande.meeting_point}}</td>
                <td class="text-align">{{  predemande.datetime | date: 'ccc d MMM ' }}
                                               {{__getLocaleTimeFormat__(predemande.datetime)}}</td>
                <td><a class="fr-btn float-right" [href]="predemande.management_url">Lien de gestion</a></td>    
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>