.center {
  display: flex;
  justify-content: center;
}

.text-align {
  text-align: center;
}

.id {
  position: relative;

  width: 25%;
}

.date-point {
  position: relative;

  width: 20%;
}

.meeting-point {
  position: relative;

  width: auto;
}
