<!--div style="padding:100px" markdown [src]="post"></div-->
<main role="main" id="contenu">
          <div>
          <br>
            <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
              <div class="fr-col fr-col-lg-8" >
                <div [ngStyle]="{'justify-content': 'center', display: 'flex'}" >
                    <h5>Renseignez votre adresse électronique ainsi que votre message.</h5>
                </div>
                <form action="/" method="POST">
                    <div class="fr-input-group">
                <label class="fr-label" for="email" aria-describedby="format">Votre adresse électronique</label>
                <p class="fr-hint-text" id="format">L’adresse électronique doit être au format <em>nom@exemple.fr</em></p>
                      <input class="fr-input" type="email" id="email" name="email" required>
                    </div>
                  <div class="fr-input-group">
                <label class="fr-label" for="message">Votre message</label>
                <textarea required class="fr-input" id="message" rows="5"></textarea>
                  </div>
                    <div class="fr-input-group">
                      <button type="submit" class="fr-btn" >Envoyer mon message</button>
                    </div>
                  </form> 
              </div>
            </div>
        </div>
    </main>
      